<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-white" href="#"><span  style="font-weight: bolder;color:#016fa0">PASS</span> <img src="/img/logo.png" width="30%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link btn btn-info text-mint-nav" href="/admin/pages/home">APPOINTMENTS</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item active">
        <a class="nav-link btn btn-success text-mint-nav" href="/admin/pages/doctor">DOCTORS</a>
      </li>&nbsp;&nbsp;   
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-mint-nav" id="settings">SETTINGS</a>
      </li>  
      &nbsp;&nbsp;  
      <li class="nav-item">
        <a class="nav-link btn btn-danger text-mint-nav" href="/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
