    <%- include('../inc/modal-notication.ejs') %>
    <%- include('../inc/modal-settings.ejs') %>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/custom_script.js"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript">
     
      $("#login_btn").on("click",function(){
        $("#signup-form").addClass("off-display");
        $("#signin-form").removeClass("off-display");
        $("#reset-pwd-form").addClass("off-display");          
      })

      $("#register_btn").on("click",function(){
        $("#signup-form").removeClass("off-display");
        $("#signin-form").addClass("off-display");      
      })

      $("#visit_table").dataTable();
    </script>       
  </body>
</html>