
<!DOCTYPE html>
<html>
  <head>
    <title>Medical App - <%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/fonts/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custome_style.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/lc_switch.js" type="text/javascript"></script>

  </head>
  <body>
    <%- messages('messages', locals) %> 