<nav class="navbar navbar-expand-lg navbar-light bg-light" style="">
  <a class="navbar-brand text-white" href="#"><span  style="font-weight: bolder;color:#016fa0">PASS</span> <img src="/img/logo.png" width="30%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link btn btn-info text-mint-nav" href="">APPOINTMENTS</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link btn btn-danger text-mint-nav" href="/logout">LOGOUT</a>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-success text-mint-nav" data-toggle="dropdown" id="navbarDropdown" href="##">PROFILE</a>
        <div class="dropdown-menu patient-profile">
          <form method="post" action="update-patient">
            <div class="form-group">
              <label class="col-sm-8 control-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="patient-fname" value="" name="FirstName" >
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-8 control-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="patient-lname" value="" name="LastName" >
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-8 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="text" value="" id="patient-phone" class="form-control" name="Phone" >
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-8 control-label">Patient ID : <b><span id="patient-pid"></span></b></label>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-8 control-label">Date of birth</label>
                  <div class="col-sm-10">
                    <input type="date" value="" id="patient-dob" name="DOB" >
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-8 control-label">Gender</label>
                  <div class="col-sm-10">
                    <input type="radio"  value="male" name="Gender" > Male
                    <input type="radio" value="female" name="Gender" > Female
                  </div>
                </div>
              </div>              
            </div>
            <input type="hidden" name="_id" value="" id="patient-id">
            <button type="submit" class="btn btn-warning">Update</button>                                            
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>
