<div class="modal fade" id="modal-settings">
  <div class="modal-dialog" style="width:300px;max-width: 500px; !important">
    <div class="modal-content">
      <div class="modal-header"><h3 class="modal-title text-center">APP SETTINGS</h3></div>
      <div class="modal-body">
        <h5>Email Settings</h5><hr>
        <form class="form-horizontal" method="post" action="update-mailsettings">
          <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-12">
              <input type="email" id="sett-username" required name="username" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-12">
              <input type="text" id="sett-password" required name="password" class="form-control">
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Port</label>
              <div class="col-sm-12">
                <input type="number" id="sett-port" required name="port" class="form-control">
              </div>
            </div> 
            <div class="form-group">
              <label class="col-sm-3 control-label">SMTP</label>
              <div class="col-sm-12">
                <input type="text" id="sett-smtp" required name="smtp" class="form-control">
              </div>
            </div>                       
          </div> 
          <input type="hidden" name="_id" id="sett-id">
          <button type="submit" class="btn btn-success">save changes</button> <button type="submit" onClick="closeModal('#modal-settings')" class="btn btn-danger">CLOSE</button>         
        </form>
      </div>
    </div>
  </div>
</div>