<div class="modal fade" id="modal-notification">
  <div class="modal-dialog" style="width:500px;max-width: 1000px !important;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 15px solid #6178e9">
        <h2 class="mint-modal-header" style="margin-left: 70px;">NOTIFICATION</h2>
      </div>
      <div class="modal-body" style="margin-left: 50px !important;">
        <H3 id="modal-notification-message">DATA SUCCESSFULLY SAVED</H3>          
      </div>
    </div>
  </div>
</div>