<div class="modal fade modal_view_visit">
  <div class="modal-dialog" style="width:500px;max-width: 1000px !important;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 15px solid #6178e9">
        <h2 class="mint-modal-header" style="margin-left: 70px;">VIEW APPOINTMENT</h2>
      </div>
      <div class="modal-body" style="margin-left: 10px !important;">
        <div class="row">
          <div class="col-sm-3">
            <img src="/img/doctor-male.jpg" width="150px"/>
          </div>
          <div class="col-sm-9">
            <h6 class="text-center">ASSIGNED DOCTOR</h6>
            <h3 class="text-muted text-center" id="visit-doctor"></h3>
          </div>
        </div> 
        <table class="table table-striped">
          <tr>
            <td><img src="/img/calendar.png" width="40px"/> </td>
            <td>
              <h6> SCHEDULED DATE</h6>
              <h3 class="text-muted" id="visit-date"> 24-April-2022</h3>
            </td>
          </tr>
          <tr>
            <td><img src="/img/time.png" width="60px"/> </td>
            <td>
              <h6> SCHEDULED TIME</h6>
              <h3 class="text-muted" id="visit-time"> 1:00 PM</h3>
            </td>
          </tr> 
          <tr>
            <td><img src="/img/active.png" width="60px"/> </td>
            <td>
              <h6> PATIENT MESSAGE</h6>
              <h3 class="text-muted" id="visit-message"></h3>
            </td>
          </tr>           
          <tr>
            <td><img src="/img/doctor-male2.jpg" width="80px"/> </td>
            <td>
              <h6> DOCTOR REMARK</h6>
              <h3 class="text-muted" id="visit-doc-remark"></h3>
            </td>
          </tr> 
          <tr>
            <td><img src="/img/money.png" width="60px"/> </td>
            <td>
              <h6> SERVICE CHARGE</h6>
              <h3 class="text-muted" id="visit-amount"> </h3>
            </td>
          </tr>                                      
        </table>                        
        <br><br>              
        <button type="submit" class="btn btn-success">CLOSE WINDOW</button>  <button type="submit" onClick="closeModal('.modal_view_visit')" class="btn btn-danger">CLOSE</button>                                  
      </div>
    </div>
  </div>
</div>