<div class="modal fade" id="modal_visit">
  <div class="modal-dialog modal-sm" style="width:500px;max-width: 1000px !important;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 15px solid #6178e9">
        <h2 class="mint-modal-header" style="margin-left: 70px;">SCHEDULE YOUR APPOINTMENT</h2>
      </div>
      <div class="modal-body" style="margin-left: 50px !important;">
        <form method="post" class="mint-visit-form" action="visit-form"> 
          <div class="form-group">
            <label class="">Clinic Option</label> <br>
            <select name="Physician" class="form-control" style="height: 60px;" required>
              <option value="">--select--</option>
              <option value="General Out Patient Department (GOPD)">General Out Patient Department (GOPD)</option>
              <option value="Antenatal Clinic">Antenatal Clinic</option>
              <option value="Postnatal Clinic (Immunisation)">Postnatal Clinic (Immunisation)</option>
              <option value="Children Clinic">Children Clinic</option>
              <option value="Medical Out Patient Clinic (MOP)">Medical Out Patient Clinic (MOP)</option>
              <option value="Surgical Out Patient Clinic (SOP)">Surgical Out Patient Clinic (SOP)</option>
              <option value="Eye Clinic">Eye Clinic</option>
              <option value="Dental Clinic">Dental Clinic</option>
              <option value="Physiotherapy Clinic">Physiotherapy Clinic</option>
            </select>
          </div>
          <div class="form-group">
            <label class="">Type of Patient</label> <br>
            <select name="Services" class="form-control" style="height: 60px;" required>
              <option value="">--select--</option>
              <option value="New Patient">New Patient</option>
              <option value="Old Patient">Old Patient</option>
            </select>
          </div>
          <div class="form-group">
            <label class="">Comment (Optional)</label><br>
            <textarea name="Message" class="form-control" style="height:200px !important;padding-top:25px"></textarea>
          </div>           
          <br>
          <div class="form-group">
            <label class="">Date</label>
            <input name="Date" class="mint-input" type="date" required/>
          </div> 
          <br>
          <h5><strong>Please choose time range.</strong></h5>
          <div class="form-group">
            <label class="">From</label>
            <input name="Time" class="mint-input" type="time" required/>
          </div> 
          <div class="form-group">
            <label class="">To</label>
            <input name="Time2" class="mint-input" style="margin-left: 20px;" type="time" required/>
          </div>           
                  
          <br><br>              
          <button type="submit" class="btn btn-success">CREATE SCHEDULE</button>  <button type="submit" onClick="closeModal('#modal_visit')" class="btn btn-danger">CLOSE</button>                      
        </form>            
      </div>
    </div>
  </div>
</div>