<%- include('_layouts/header.ejs') %>
<%- include('_layouts/menu.ejs') %>
  <div class="container">
    <div class="" style="margin-top:50px">
      <h4>APPOINTMENT PAGE <button type="button" class="btn btn-primary mint-primary" id="visit-btn">Book Appointment</button></h4> <br>
      <br><br>
      <table class="table table-hover table-striped" id="visit_table">
        <thead>
          <th>SN</th>
          <th>Physician</th>
          <th>Service</th>
          <th>Date</th>
          <th>Time</th>
          <th>Doctor Assigned</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% data.forEach(function(items,index){ %>
            <tr>
              <td>PASS<%= index+1 %></td>
              <td><%= items.Physician%></td>
              <td><span class="badge badge-success"><%= items.Service%></span></td>
              <td><%= new Date(items.Date).toLocaleDateString() %></td>
              <td>
                <%= items.Time%>
                <%if(items.Time2 != null){ %>
                  - <%= items.Time2 %>
                <% } %>               
              </td>
              <td>Dr. <%= items.Doctor %></td>
              <td><span class="btn btn-warning"><%= items.Status%></span></td>
              <td><button class="btn btn-info btn_view_visit" key="<%= items._id%>" title="View schedule" style="border: none;" type="button">view</button>
                </td>
            </tr>
          <%});%>
        </tbody>      
      </table>
    </div>
  </div>
  <%- include('inc/visit.ejs') %>
  <%- include('inc/view_visit.ejs') %>
<%- include('_layouts/footer.ejs') %>