<%- include('_layouts/header') %>
<div class="mint-secondary">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="pass_landing_page">
      <div style="margin:250px 50px 150px 50px">
        <h1 style="font-weight: bolder;font-size: 70px;color:#016fa0 !important">PASS <img src="/img/logo.png"></h1>
        <button type="button" class="btn btn-primary pass_btn" id="pass_login_btn">Login</button>
        <button class="btn btn-primary pass_btn" id="pass_register_btn">Signup</button>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row off-display" id="pass_login_form">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div style="padding:10px" class="text-center">
        <h4 class="text-muted" style="font-size:2em">WELCOME TO</h4>
        <h5 >Patient Appointment Scheduling System</h5>
      </div>      
      <div class="login-form">
        <br><br>
        <div id="signup-form">
          <p style="float: right;margin-right: 20px;" id="login-title">
            Already SIGN-UP,
            <button type="button" class="btn btn-info" id="login_btn">SIGN-IN now...</button>
          </p>          
          <form method="post" class="mint-signup-form" action="register-form"> 
            <div class="form-group">
              <label class="">First Name</label> <br>
              <input type="text" name="FirstName" class="form-control" required="true">
            </div>
            <div class="form-group">
              <label class="">Last Name</label><br>
              <input type="text" name="LastName" class="form-control" required="true">
            </div> 
            <div class="form-group">
              <label class="">Phone</label>
              <input type="text" name="Phone" class="form-control" required="true">
            </div>
            <div class="form-group">
              <label class="">Email</label>
              <input type="email" name="Email" class="form-control" required="true">
            </div> 
            <div class="form-group">
              <label class="">Password</label>
              <input type="password" name="Password" class="form-control" required="true">
            </div>             
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="">Patient ID</label>
                  <input type="text" name="PatientId" class="form-control" style="width:100%" required="true">
                </div> 
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="">Date of Birth</label>
                  <input type="text" name="DOB" id="dob-picker" class="form-control" required="true">
                </div> 
              </div>              
            </div>
            <div class="row">
              <div class="col-sm-8">
                <label style="font-weight:600;font-size: 18px;" class="text-uppercase">Gender</label> <br>
                <input type="radio" name="Gender" value="male" required/> Male
                <input type="radio" name="Gender" value="female" required/> Female
              </div>
              <!---div class="col-sm-7">
                <div class="form-group">
                  <input type="date" name="DOB" style="width:170px !important" class="form-control" required="true">
                </div>
              </div--->                
            </div> 
            <button type="submit" class="btn mint-btn">SIGN UP</button>                         
          </form>
        </div>
        <div id="signin-form" class="off-display">
          <h4 class="text-center">
           Don't have an account, <button type="button" class="btn btn-info" id="register_btn">SIGN-UP</button>
          </h4> 
          <form method="post" class="mint-signin-form" action="login-form"> 
            <div class="form-group">
              <label class="">EMAIL</label> <br>
              <input type="email" name="username" class="form-control" required="true">
            </div>
            <br><br>
            <div class="form-group">
              <label class="" id="password-label">PASSWORD</label><br>
              <input type="password" name="password" id="password-field" class="form-control" required="true">
            </div>            
              <a href="" style="color:black;text-decoration: underline;float: right;" id="forget-pwd">Forget password?</a>
            <br><br>                         
            <button type="submit" class="btn mint-btn" id="login-btn">SIGN IN</button>                         
          </form>         
        </div>
        <div id="reset-pwd-container" class="off-display">
          <div style="padding:10px" class="text-center">
            <h4 class="text-muted" style="font-size:2em">WELCOME TO</h4>
            <h5 >Patient Appointment Scheduling System</h5>
          </div>           
          <h4 class="text-center">
            Don't have an account, <button type="button" class="btn btn-info" id="register_btn">SIGN-UP</button>
           </h4>           
          <form method="post" class="mint-signin-form" action="reset-pwd-form"> 
            <div class="form-group">
              <label class="">EMAIL</label>
              <input type="email" name="username" class="form-control" required="true">
            </div>
            <br><br>
            <div class="form-group">
              <label class="">Patient ID</label>
              <input type="text" name="PatientId" class="form-control" required="true">
            </div>            
              <button type="button" class="btn btn-info" id="back_login_btn">Back to SIGN-IN</button>
            <br><br>                         
            <button type="submit" class="btn mint-btn" id="login-btn">RESET PASSWORD</button>                         
          </form>           
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>        
  </div>
</div>
<%- include('_layouts/footer') %>