
<% Object.keys(messages).forEach(function (type) { %>
  <div class="alert alert-<%= type %>" style="margin-bottom: 0px !important">
  <% messages[type].forEach(function (message) { %>
    <%= message %>
  <% }) %>
  </div>
<% }) %>
