.mint-bg-color{
  background-color: gray;
  padding: 20px;
}
.mint-primary{
  background-color: #6178e9;
}
.mint-secondary{
  background-color: #D8D7D7;
}
.login-form{
  margin:40px 20px 40px 20px;
  background-color: white;
  padding: 30px;
}
.mint-input{
  width: 20em;
  border-radius: 30px;
  height: 45px;
  border: 1px solid gray;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.mint-update{
  background-color: #e7e5e5;
  font-weight: 700;
  color: black;
  padding: 10px 70px 10px 70px;
}

.mint-label{
  position: relative;
  top: 28px;
  padding-left: 20px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: gray;
}
.mint-input:hover{
  border-color: #6178e9 !important;
}
.mint-btn{
  margin-top: 80px;
  margin-left: -30px;
  margin-bottom: -46px;
  background-color: #6178e9 ;
  width: 114%;
  padding: 20px;
  color:white;
}
.mint-btn2{
    margin-top: 100px;
    margin-left: -70px;
    margin-bottom: -80px;
    background-color: #6178e9;
    width: 122%;
    padding: 20px;
    color: black;
    font-weight: 700;
}
.mint-btn:hover{
  color: white;
}
.mint-footer{
  font-weight: 100;
  background: white;
  padding: 15px 50px 15px 50px;
  margin-right: -20px;
  margin-left: -17px;
  margin-top: 738px;
}
.menu-bar{
 padding: 20px;
 background-color: #6178e9;
 height: 1150px;
}

.mint-view{
  height: 1100px;
}

.menu-item{
  margin-top: 70px;
  list-style: none;
}

.menu-li-item{
  font-size: 18px;
  margin-bottom: 30px;
}
.menu-li-item a:hover{
  text-decoration: none;
  color:white;
}
.menu-li-item .active{
  background-color: white;
  color: gray;
  padding: 10px 92px 10px 55px;
  margin-left: -58px;
}
a.active{
  text-decoration: none;
}

.mint-view{
  margin: 20px;
}
.thead{
  background-color: #CCC5C5;
  color:black;
  font-weight: 700;
}
.off-border{
  border: none !important;
}
.off-display{
  display: none;
}
#gender_switch_option{
  margin-top: 10px;
}

.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.come-from-modal.right.fade .modal-dialog {
    right: 10px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}

.mint-modal-header{
    text-align: center;
    font-weight: 700;
    color: #6178e9;
    font-size: 22px;
}

input :focus{
  border: #6178e9;
}

.mint-remark{
  margin-top: 25px;
  height: 150px;
  background: #8381813b;
  width: 300px;
  border-radius: 20px;
}
.text-mint-nav{
  color: white !important;
  font-weight: 600;
}

.visit-btn{
  float: right;
  font-size: 20px;
  width: 20%;
}

.view-visit-img{
  padding: 10px;
}

.pass_btn{
  width: 300px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}

.patient-profile{
  padding: 20px;
width: 500px;
left: -100px;
}