<%- include('../../_layouts/header.ejs')%>
<%- include('../../_layouts/admin_menu.ejs')%>

<div class="container">
  <div class="" style="margin-top:50px">
    <h4 class="">DOCTORS PROFILE PAGE <button type="button" class="btn btn-info update_doctor" style="float:right" >CREATE NEW DOCTOR</button></h4>
    <br><br>
    <table class="table table-hover table-striped" id="visit_table" width="100%">
      <thead>
        <th width="10%">SN</th>
        <th width="25%">First Name</th>
        <th width="25%">Last Name</th>
        <th width="25%">Clinic Option</th>
        <th width="15%">Action</th>
      </thead>
      <tbody>
        <% data.forEach(function(items){ %>
          <tr>
            <td>1</td>
            <td><%= items.FirstName %></td>
            <td><%= items.LastName %></td>
            <td><%= items.Specialization %></td>
            <td><button class="btn btn-info update_doctor_" title="View schedule" key="<%= items._id %>" style="border: none;" type="button" id="">view</button></td>
          </tr>
        <% }); %>
      </tbody>
    </table>    
  </div>
</div>
<%- include('inc/update_doctor.ejs') %>
<%- include('../../_layouts/footer.ejs')%>