<%- include('../../_layouts/header.ejs')%>
<%- include('../../_layouts/admin_menu.ejs')%>

<div class="container">
  <div class="" style="margin-top:50px">
    <h4 class="text-center">PATIENT APPOINTMENT PAGE</h4>
  </div>
</div>

<br><br>
<table class="table table-hover table-striped" id="visit_table" width="100%">
  <thead>
    <th width="2%">SN</th>
    <th width="10%">Patient</th>
    <th width="10%">Clinic Option</th>
    <th width="10%">Type of patient</th>
    <th width="10%">Date</th>
    <th width="10%">Time</th>
    <th width="30%">Doctor Assigned</th>
    <th width="10%">Status</th>
    <th width="10%"">Action</th>
  </thead>
  <tbody>
    <% data.forEach(function(items,index){ %>
    <tr>
      <td>PASS<%= index+1 %></td>
      <td><%= items.Email %></td>
      <td><%= items.Physician %></td>
      <td><%= items.Service %></td>
      <td><%= new Date(items.Date).toLocaleDateString() %></td>
      <td>
        <%= items.Time %>
        <%if(items.Time2 != null){ %>
          - <%= items.Time2 %>
        <%}%> 
      </td>
      <td>Dr. <%= items.Doctor %></td>
      <td><span class="btn btn-warning"><%= items.Status %></span></td>
      <td><button class="btn btn-info view_admin_visit" title="View schedule" key="<%= items._id%>" style="border: none;" type="button" id="">view</button></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('inc/view_appointment.ejs') %>
<%- include('../../_layouts/footer.ejs')%>