<div class="modal fade" id="modal_update_doctor">
  <div class="modal-dialog" style="width:470px;max-width: 1000px !important;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 15px solid #6178e9">
        <h2 class="mint-modal-header" style="margin-left: 70px;">NEW DOCTOR SETUP</h2>
      </div>
      <div class="modal-body" style="margin-left: 50px !important;">
        <form method="post" class="mint-visit-form" action="doctor-form"> 
          <div class="form-group">
            <label class="">First Name</label><br>
            <input name="FirstName" id="doctor-fname" class="form-control" type="text" required/>
          </div> 
          <br>  
          <div class="form-group">
            <label class="">Last Name</label> <br>
            <input name="LastName" id="doctor-lname" class="form-control" type="text" required/>
          </div> 
          <br>                  
          <div class="form-group">
            <label class="">Clinic Option</label> <br>
            <select name="Physician" id="doctor-option" class="form-control" style="height: 60px;" required>
              <option value="">--select--</option>
              <option value="General Out Patient Department (GOPD)">General Out Patient Department (GOPD)</option>
              <option value="Antenatal Clinic">Antenatal Clinic</option>
              <option value="Postnatal Clinic (Immunisation)">Postnatal Clinic (Immunisation)</option>
              <option value="Children Clinic">Children Clinic</option>
              <option value="Medical Out Patient Clinic (MOP)">Medical Out Patient Clinic (MOP)</option>
              <option value="Surgical Out Patient Clinic (SOP)">Surgical Out Patient Clinic (SOP)</option>
              <option value="Eye Clinic">Eye Clinic</option>
              <option value="Dental Clinic">Dental Clinic</option>
              <option value="Physiotherapy Clinic">Physiotherapy Clinic</option>
            </select>
          </div>

          <div class="form-group">
            <label class="">Doctor Profile</label>
            <textarea name="Profile" class="form-control" id="doctor-profile" style="height:200px !important;padding-top:25px" required="false"></textarea>
          </div>                             
          <br><br>      
          <input type="hidden" name="_id" id="doctor-id">        
          <button type="submit" class="btn mint-btn2">CREATE DOCTOR PROFILE</button>  <button type="submit" onClick="closeModal('#modal_update_doctor')" class="btn btn-danger">CLOSE</button>                        
        </form>            
      </div>
    </div>
  </div>
</div>