<div class="modal fade modal_view_appointment" id="admin_view_visit_modal">
  <div class="modal-dialog" style="width:570px;max-width: 1000px !important;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 15px solid #6178e9">
        <h2 class="mint-modal-header text-center" style="margin-left: 70px;">VIEW APPOINTMENT</h2>
      </div>
      <div class="modal-body" style="margin-left: 10px !important;">
        <form method="post" id="update-vist-form" action="update-patient-visit">
        <div class="row">
          <div class="col-sm-3">
            <img src="/img/doctor-male.jpg" width="150px"/>
          </div>
          <div class="col-sm-9">
            <h6 class="text-center">ASSIGNED DOCTOR</h6>
            <div class="form-group">
              <label class="mint-label">Doctors</label>
              <select name="Doctor" class="form-control" style="height: 60px;" required>
                <option value="">--select--</option>
                <% doctor.forEach(function(items){ %>
                  <option value="<%= items.FirstName %> <%= items.LastName %>">
                    <%= items.FirstName %> <%= items.LastName %>
                  </option>
                <% }); %>
              </select>
            </div>            
          </div>
        </div> 
        <table class="table table-striped">
          <tr>
            <td><img src="/img/calendar.png" width="40px"/> </td>
            <td>
              <h6> SCHEDULED DATE</h6>
              <h3 class="text-muted" id="visit-date"></h3>
            </td>
          </tr>
          <tr>
            <td><img src="/img/time.png" width="60px"/> </td>
            <td>
              <h6> SCHEDULED TIME</h6>
              <h3 class="text-muted" id="visit-time"></h3>
            </td>
          </tr>
          <tr>
            <td><img src="/img/4.png" width="60px"/> </td>
            <td>
              <h6>PATIENT</h6>
              <h3 class="text-muted" id="visit-patient"></h3>
            </td>
          </tr>           
          <tr>
            <td><img src="/img/active.png" width="60px"/> </td>
            <td>
              <h6> PATIENT MESSAGE</h6>
              <h3 class="text-muted" id="visit-message"> Am not feeling very well and which i counde get attention even befor that time.</h3>
            </td>
          </tr>           
          <tr>
            <td><img src="/img/doctor-male2.jpg" width="80px"/> </td>
            <td>
              <h6> DOCTOR REMARK</h6>
              <div class="form-group">
                <label class="mint-label">Comment</label>
                <textarea name="Remark" class="form-control" style="height:200px !important;padding-top:25px" required="false"></textarea>
              </div>               
              </td>
          </tr> 
          <tr>
            <td><img src="/img/money.png" width="60px"/> </td>
            <td>
              <h6> SERVICE CHARGE</h6>
              <div class="form-group">
                <input name="Amount" type="number" id="visit-amount" class="form-control"/>
              </div>               
            </td>
          </tr>                                      
        </table>                        
        <br><br>    
        <input type="hidden" id="visit-id" name="_id" value=""/>          
          <button type="submit" class="btn btn-success text-white">APPROVE APPOINTMENT SCHEDULE</button> <button type="submit" onClick="closeModal('#admin_view_visit_modal')" class="btn btn-danger">CLOSE</button>
      </form>                                   
      </div>
    </div>
  </div>
</div>